/**
 * 1. Utilities
 * 2. Nav
 * 3. Content
 *     3.1. Elements
 *     3.2. Index Posts
 *     3.3. Single Post
 *         3.3.1. Post Footer
 *     3.4. Author Page
 *     3.5. Term Page
 *     3.6. Pagination 
 *     3.7. Icon Links
 *     3.8. Subscribe
 *     3.9. Search 
 *     3.10. Taxonomy 
 *     3.11. Authors   
 *     3.12. 404 
 *     3.13. Term Archive
 *     3.14. Author Archive
 */

/**
 * 1. Utilities
 */
    .LXB_TOGO-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .LXB_TOGO-is_current {
        text-decoration: underline;
    }

/**
 * 2. Nav
 */

    [data-lxb_togo_element="nav"] a:hover {
        text-decoration: underline;
    }

    .LXB_TOGO-nav-list {
        display: flex;
        gap: 10px;
        flex-direction: column;         
    }

    @media( min-width: 600px ) {
        .LXB_TOGO-nav-list {
            gap: 30px;
            flex-direction: row; 
            align-items: center;
        
        }
    }

/**
 * 3. Content
 */

    .LXB_TOGO-inner-content_and_loader {
    }

    /**
     * 3.1. Elements
     */

        [data-lxb_togo_element="content"] a {
            color: black;
        }

        [data-lxb_togo_element="content"] a:hover {
            color: rgb(249 115 22);
        }

        .LXB_TOGO-image-figure {
            display: grid;
            gap: 10px;
        }

    /**
     * 3.2. Index Posts
     */

        .LXB_TOGO-inner-index {
            padding: 60px 0;
        }

        .LXB_TOGO-posts-index-inner {
            display: grid;
            gap: 50px;
        }

        .LXB_TOGO-post-index-item {
            display: flex;
            align-items: start;
            gap: 20px;
            justify-content: space-between; 
            flex-direction: column;  
        }

        @media( min-width: 1000px ) {

            .LXB_TOGO-post-index-item {
                gap: 80px;
                flex-direction: row;  
            }
           
        }

        .LXB_TOGO-post-index-item-header {
            padding: 0 0 20px 0; 
        }

        .LXB_TOGO-post-index-item-header_and_main {
            order: 2;
        }

        @media( min-width: 1000px ) {
            .LXB_TOGO-post-index-item-header_and_main {
                width: 80%;
                flex: 1;
                order: 1;
            }
        }

        @media( min-width: 1000px ) {
            .LXB_TOGO-posts-index-inner .LXB_TOGO-post-index-item:first-child .LXB_TOGO-post-index-item-header_and_main {
                width: 60%;
                flex: 1;          
            }
        }

        .LXB_TOGO-post-index-item-header-title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.25px;
            font-weight: 600; 
            margin-bottom: 10px;   
        }

        .LXB_TOGO-posts-index-inner .LXB_TOGO-post-index-item:first-child .LXB_TOGO-post-index-item-header-title {
            font-size: 40px;
            line-height: 43px;
            letter-spacing: 0.5px;
            font-weight: 900;   
        }

        .LXB_TOGO-post-index-item .LXB_TOGO-image-img {
            border-radius: 10px;
            height: auto;
        }        

        @media( min-width: 1000px ) {
            .LXB_TOGO-post-index-item > .LXB_TOGO-image-img {
                width: 20%;
                order: 2;
            }
        }

        @media( min-width: 1000px ) {
            .LXB_TOGO-posts-index-inner .LXB_TOGO-post-index-item:first-child > .LXB_TOGO-image,
            .LXB_TOGO-posts-index-inner .LXB_TOGO-post-index-item:first-child > .LXB_TOGO-image-img {
                width: 40%;
            }
        }

        .LXB_TOGO-post-index-item-header .LXB_TOGO-post-linked_terms-item {
            color: rgb(249 115 22);
        }

        .LXB_TOGO-post-index-item-header .LXB_TOGO-post-linked_terms-item:hover {
            color: black;
            text-decoration: underline;
        }

        .LXB_TOGO-post-index-item-main {
            max-width: 500px;
        }

        .LXB_TOGO-post-index-item .LXB_TOGO-post-read_more {
            display: flex;
            align-items: center;
            gap: 4px;
            color: rgb(249 115 22);
        }

        .LXB_TOGO-post-index-item .LXB_TOGO-post-read_more:hover {
            color: #000;
            text-decoration: underline;
        }

        .LXB_TOGO-post-read_more .LXB_TOGO-icon-outer {
            color: #000;
        }

    /**
     * 3.3. Single Post
     */
    
        .LXB_TOGO-inner-single .LXB_TOGO-post-header_and_main {
            padding: 60px 0 0 0 ;
            border-top: 1px solid #dddddd; 
            margin-bottom: 60px;
        }

        .LXB_TOGO-inner-single .LXB_TOGO-post {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        @media( min-width: 1000px ) {        

            .LXB_TOGO-inner-single .LXB_TOGO-post {
                flex-direction: row;
            }

        }

        @media( min-width: 1000px ) {

            .LXB_TOGO-inner-single .LXB_TOGO-post-header_and_main {
                width: 75%;
                margin-bottom: 0;
            }

        }

        .LXB_TOGO-inner-single .LXB_TOGO-post-header {
            display: flex;
            gap: 30px;
            align-items: start;
            justify-content: space-between;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #eee;
            flex-direction: column;
        }

        @media( min-width: 600px ) {
            .LXB_TOGO-inner-single .LXB_TOGO-post-header {
                flex-direction: row;
                gap: 80px;
            }
        }

        .LXB_TOGO-inner-single .LXB_TOGO-post-header a {
            color: rgb( 249 115 22 );
        }

        .LXB_TOGO-inner-single .LXB_TOGO-post-header a:hover {
            color: #000;
            text-decoration: underline;
        }        

        .LXB_TOGO-inner-single .LXB_TOGO-post-header-text {
            flex: 1;
        }

         @media( min-width: 600px ) {
            .LXB_TOGO-inner-single .LXB_TOGO-post-header-text {
                width: 60%;
            }
         }

        .LXB_TOGO-post-header-title {
            font-size: 40px;
            line-height: 43px;
            letter-spacing: 0.5px;
            font-weight: 900;   
            margin-bottom: 10px;            
        }

        .LXB_TOGO-inner-single .LXB_TOGO-image-img {
            border-radius: 10px;
            display: block;
        }

        @media( min-width: 600px ) {
            .LXB_TOGO-inner-single .LXB_TOGO-image-img {
                order: 2;
                width: 40%;
            }            
        }

        .LXB_TOGO-inner-single .LXB_TOGO-post-footer {
            display: grid;
        }

        @media( min-width: 600px ) {
            .LXB_TOGO-inner-single .LXB_TOGO-post-footer {
                width: 25%;
                padding-left: 96px;    
            }
        }

        .LXB_TOGO-share-list {
            display: flex;
            gap: 24px;
        }

        .LXB_TOGO-share-item-link {
            width: 24px;
            display: block;
        }

        .LXB_TOGO-inner-single .LXB_TOGO-post-main {
            display: grid;
            gap: 20px;
            
            font-size: 18px;
            line-height: 28px;

        }

        /**
         * 3.3.1. Post Footer
         */
        
            .LXB_TOGO-inner-single .LXB_TOGO-post-footer {
                display: grid;
                gap: 30px;
            } 
            
            .LXB_TOGO-inner-single .LXB_TOGO-post-footer a {
                color: rgb( 249 115 22 );
            }

            .LXB_TOGO-inner-single .LXB_TOGO-post-footer a:hover {
                color: #000;
                text-decoration: underline;
            }   

            .LXB_TOGO-post-authors {
                display: grid;
                gap: 18px;                
            }

            .LXB_TOGO-inner-single .LXB_TOGO-post-footer .LXB_TOGO-user-index {
                display: flex;
                gap: 18px;
                flex-direction: column;
            }

            @media( min-width: 1300px ) {
                .LXB_TOGO-inner-single .LXB_TOGO-post-footer .LXB_TOGO-user-index {
                    flex-direction: row;
                }               
            }

            .LXB_TOGO-post-footer .LXB_TOGO-user-image {
                max-width: 90px;
                border-radius: 8px;
                overflow: hidden;
            }

            .LXB_TOGO-post-footer a.LXB_TOGO-user-index-name-link {
                font-weight: 600;
                color: #000;
            }

            .LXB_TOGO-post-footer a.LXB_TOGO-user-index-name-link:hover {
                color: rgb( 249 115 22 );
                text-decoration: underline;
            }

            .LXB_TOGO-post-footer .LXB_TOGO-post-related {
                display: grid;
                gap: 15px;    
            }

            .LXB_TOGO-post-footer .LXB_TOGO-post-related-list {
                display: grid;
                gap: 10px;   
            }

    /**
     * 3.4. Author Page
     */
        
        .author-page .LXB_TOGO-nav-list {
            display: grid;
            font-weight: 600;
            gap: 0;
        }

        .author-page .LXB_TOGO-nav-list-item {
            padding: 15px 25px;
            border-bottom: 1px solid #ccc;
        }

        .author-page .LXB_TOGO-nav-list-item:first-child {
            border-top: 1px solid #ccc;
        }

        .author-page .LXB_TOGO-archive-author-title {
            display: none;
        }

    /**
     * 3.5. Term Page
     */
    
        .term-page .LXB_TOGO-term-index-title {
            display: none;
        }

    /**
     * 3.6. Pagination
     */

        .LXB_TOGO-pagination {
            padding-top: 30px;
        }

        .LXB_TOGO-pagination-list {
            display: flex;
            justify-content: space-between;
        }

        .LXB_TOGO-pagination-list .LXB_TOGO-pagination-next:only-child {
            justify-content: end;
            width: 100%;
            display: flex;
        }

        .LXB_TOGO-pagination a {
            color: rgb(249 115 22);
        }

        .LXB_TOGO-pagination a .LXB_TOGO-icon-outer {
            color: #000;
        }        

        .LXB_TOGO-pagination a:hover {
            color: #000;
            text-decoration: underline;
        }   

    /**
     * 3.7. Icon Links
     */
        
        svg.LXB_TOGO-icon {
            display: block;
            width: 100%;
            height: auto;
        }

        .LXB_TOGO-pagination-next-link,
        .LXB_TOGO-pagination-prev-link,
        .LXB_TOGO-post-index-item-more {
            display: flex;
            align-items: center;
            gap: 3px;
            white-space: nowrap;
            max-width: min-content;
        }

        .LXB_TOGO-pagination-list .LXB_TOGO-icon-outer,
        .LXB_TOGO-post-index-item-more .LXB_TOGO-icon-outer {
            width: 10px;
            display: block;
        }

        .LXB_TOGO-subscribe_form-button {
            display: flex;
            align-items: center;
            color: #fff;
            background: rgb(249 115 22);
            border-radius: 30px;
            padding: 10px 30px;
            gap: 10px;
        }

        .LXB_TOGO-subscribe_form-button .LXB_TOGO-icon-outer {
            width: 20px;
            display: block;
        }


    /**
     * 3.8. Subscribe
     */
        
        .subscribe-page [data-lxb_togo_element="content"] {
        }

        .LXB_TOGO-inner-subscribe {
            padding: 60px 0;
        }

        .LXB_TOGO-subscribe-title {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .LXB_TOGO-subscribe_form {

        }

        .LXB_TOGO-subscribe_form-input {
            background: #E0E2E5;
            border-radius: 30px;
            padding: 5px 25px;
        }

        .LXB_TOGO-subscribe_form-input:focus {
            outline: 2px solid rgb(249 115 22);
        }  

        .LXB_TOGO-subscribe-result_and_form,
        .LXB_TOGO-subscribe_form-input_and_button {
            display: grid;
            gap: 15px;
        }

        .LXB_TOGO-subscribe-result-title {
            font-weight: 600;
        }

    /**
     * 3.9. Search
     */
    
        .LXB_TOGO-inner-search {
            padding: 60px 0;
        }

        .LXB_TOGO-search {
            display: grid;
            gap: 30px;           
        }

        .LXB_TOGO-search-title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.25px;
            font-weight: 600;
        }

        .LXB_TOGO-search-form {
            display: grid;
            gap: 30px;
        }

        .LXB_TOGO-search-input_and_button {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .LXB_TOGO-search-input {
            background: #E0E2E5;
            border-radius: 30px;
            padding: 5px 25px;
        }

        .LXB_TOGO-search-input:focus {
            outline: 2px solid rgb(249 115 22);
        }        

        .LXB_TOGO-search-button-outer {
            display: flex;
            align-items: center;
        }

        .LXB_TOGO-search-button-text {
            display: none;
        }

        .LXB_TOGO-icon-outer {
            width: 26px;
            display: block;
        }

        .LXB_TOGO-search-results-keyword {
            font-weight: 600;
        }

        .LXB_TOGO-search-results {
            display: grid;
            gap: 30px;           
        }

    /**
     * 3.10. Taxonomy
     */
        .LXB_TOGO-inner-taxonomy {
            padding: 60px 0;
        }

        .LXB_TOGO-terms {
            display: grid;
            gap: 30px;
        }

        .LXB_TOGO-terms-title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.25px;
            font-weight: 600;  
        }

        .LXB_TOGO-terms-list {
            display: grid;
            gap: 10px;           
        }


    /**
     * 3.11. Authors
     */

        .LXB_TOGO-terms-list-author {
            display: grid;
            gap: 20px;
        }

        @media( min-width: 600px ) {    
            .LXB_TOGO-terms-list-author {
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
        }

        @media( min-width: 800px ) {  
            .LXB_TOGO-terms-list-author {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }
        }    

        .LXB_TOGO-author-collection-item .LXB_TOGO-user-index {
            display: flex;
            gap: 10px;
        }   

        .LXB_TOGO-author-collection-item .LXB_TOGO-user-image {
            max-width: 90px;
        }

        .LXB_TOGO-author-collection-item .LXB_TOGO-user-image-img {
            border-radius: 8px;
        }

        .LXB_TOGO-author-collection-item a.LXB_TOGO-user-index-name-link {
            color: rgb(249 115 22);
        }

        .LXB_TOGO-author-collection-item a.LXB_TOGO-user-index-name-link:hover {
            text-decoration: underline;
        }

        .LXB_TOGO-author-collection-item .LXB_TOGO-user-index-job_title {
            font-size: 80%;
            text-transform: uppercase;
        }
    
    /**
     * 3.12. 404
     */
        
        .LXB_TOGO-inner-404 {
            padding: 60px 0;
        }

        .article-page .LXB_TOGO-inner-404 {
            border-top: 1px solid #ddd;
        }

        .LXB_TOGO-404 {
            display: grid;
            gap: 30px;
        }

        .LXB_TOGO-404-title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.25px;
            font-weight: 600;          
        }

        a.LXB_TOGO-404-search_link {
            color: rgb(249 115 22);
        }

        a.LXB_TOGO-404-search_link:hover {
            text-decoration: underline;
        }

    /**
     * 3.13. Term Archive
     */
    
        .LXB_TOGO-inner-term {
            padding: 30px 0 ;
        }        

        @media( min-width: 1000px ) {
            .LXB_TOGO-inner-term {
                padding: 60px 0 ;
            }
        }

        .LXB_TOGO-term-index {
            display: grid;
            gap: 30px;            
        }

        .LXB_TOGO-term-index-title-term {
            font-weight: 600;
        }


    /**
     * 3.14. Author Archive
     */
    
        .LXB_TOGO-inner-author {
            padding: 30px 0 ;
        }        

        @media( min-width: 1000px ) {
            .LXB_TOGO-inner-author {
                padding: 60px 0 ;
            }
        }

        .LXB_TOGO-archive-author {
            display: grid;
            gap: 30px;            
        }

        .LXB_TOGO-archive-author-title-author {
            font-weight: 600;
        }
