/**
 * 1. Utilities
 * 2. Nav
 * 3. Content
 *     3.1. Elements
 *     3.2. Posts
 *     3.3. Pagination
 *     3.4. Single Post    
 *     3.5. Icon Links
 *     3.6. Subscribe
 */

/**
 * 1. Utilities
 */
    .LXB_TOGO-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .LXB_TOGO-is_current {
        text-decoration: underline;
    }

/**
 * 2. Nav
 */

    [data-lxb_togo_element="nav"] a:hover {
        text-decoration: underline;
    }

    .LXB_TOGO-nav-list {
        display: flex;
        gap: 30px;
        align-items: center;
    }

/**
 * 3. Content
 */

    .LXB_TOGO-inner-content_and_loader {
        padding: 60px 0;
    }

    /**
     * 3.1. Elements
     */

        [data-lxb_togo_element="content"] a {
            color: black;
        }

        [data-lxb_togo_element="content"] a:hover {
            color: rgb(249 115 22);
        }

    /**
     * 3.2. Posts
     */

        .LXB_TOGO-post-index-item-header {
            padding: 0 0 40px 0;
            display: flex;
            align-items: top;
            gap: 80px;
            justify-content: space-between;    
        }

        .LXB_TOGO-post-index-item-header .LXB_TOGO-image-img {
            border-radius: 10px;
            max-width: 200px;
            order: 2;
        }

        .LXB_TOGO-post-index-item-header-title {
            font-size: 30px;
            line-height: 42px;
            letter-spacing: 0.25px;
            font-weight: 600;    
        }

        .LXB_TOGO-post-index-item-header .LXB_TOGO-post-linked_terms-item {
            color: rgb(249 115 22);
        }

        .LXB_TOGO-post-index-item-header .LXB_TOGO-post-linked_terms-item:hover {
            color: black;
            text-decoration: underline;
        }   

    /**
     * 3.3. Single Post
     */
        .LXB_TOGO-post {
            display: flex;
            gap: 30px;
        }

        .LXB_TOGO-post .LXB_TOGO-post-header_and_main {
            width: 66.66%;
            flex: 1;
        }

        .LXB_TOGO-post .LXB_TOGO-post-footer {
            width: 33.33%;
            display: grid;
            gap: ;
        }

        .LXB_TOGO-share-list {
            display: flex;
            gap: 24px;
        }

        .LXB_TOGO-share-item-link {
            width: 24px;
            display: block;
        }

    /**
     * 3.4. Pagination
     */

        .LXB_TOGO-pagination {
            padding-top: 30px;
        }

        .LXB_TOGO-pagination-list {
            display: flex;
            justify-content: space-between;
        }

        .LXB_TOGO-pagination-list .LXB_TOGO-pagination-next:only-child {
            justify-content: end;
            width: 100%;
            display: flex;
        }

    /**
     * 3.5. Icon Links
     */
        
        svg.LXB_TOGO-icon {
            display: block;
            width: 100%;
            height: auto;
        }

        .LXB_TOGO-pagination-next-link,
        .LXB_TOGO-pagination-prev-link,
        .LXB_TOGO-post-index-item-more {
            display: flex;
            align-items: center;
            gap: 3px;
            white-space: nowrap;
            max-width: min-content;
        }

        .LXB_TOGO-pagination-list .LXB_TOGO-icon-outer,
        .LXB_TOGO-post-index-item-more .LXB_TOGO-icon-outer {
            width: 10px;
            display: block;
        }

        .LXB_TOGO-subscribe_form-button {
            display: flex;
            align-items: center;
            color: #fff;
            background: rgb(249 115 22);
            border-radius: 30px;
            padding: 10px 30px;
            gap: 10px;
        }

        .LXB_TOGO-subscribe_form-button .LXB_TOGO-icon-outer {
            width: 20px;
            display: block;
        }


    /**
     * 3.6. Subscribe
     */
        
        .subscribe-page [data-lxb_togo_element="content"] {
        }

        .LXB_TOGO-subscribe-title {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .LXB_TOGO-subscribe_form {

        }

        .LXB_TOGO-subscribe_form-input {
            background: #E0E2E5;
            border-radius: 30px;
            padding: 5px 25px;
        }


        .LXB_TOGO-subscribe-result_and_form,
        .LXB_TOGO-subscribe_form-input_and_button {
            display: grid;
            gap: 15px;
        }

        .LXB_TOGO-subscribe-result-title {
            font-weight: 600;
        }


